@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --orange:#ff7800;
    --black:#130f40;
    --pureblack:#000000;
    --light-color:rgb(153, 153, 153);
    --greyish: rgb(75, 75, 75);
    --pinky:#fcfcfc; 
    --favcolor: #fab802; 
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
    --babyblue: rgba(110, 208, 247, 0.1);
    --realblack:#rgb(7, 7, 7);
    --redgurl: #ff0000;
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background:#eee;
}

section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    padding:2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color:var(--black);
}

.heading span{
    background: var(--greyish);
    color:#fff;
    display: inline-block;
    padding:.6rem 3rem;
    clip-path: rectangle;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border:.2rem solid var(--black);
    color:var(--black);
    cursor: pointer;
    background: none;
}

.btn:hover{
    background: var(--babyblue);
    color:#fff;
}

.header{
    position: fixed;
    top:0; left:0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
    background:rgb(80, 80, 80);
    box-shadow: var(--box-shadow);
}

.header .logo{
    font-size: 3.5rem;
    font-weight: bolder;
    font-family:sans-serif;
    color:var(--black);
    color: azure;
}

.header .navbar a{
    font-size: 1.7rem;
    margin:0 1rem;
    color: white;
}

.header .navbar a:hover{
    color:var(--black);
}
.header .navbar i{
height: 5rem;
width: 5rem;
display: flex;

}

.header .icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color:var(--black);
    font-size: 2rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
}

.header .icons div:hover{
    background: var(--babyblue);
}
#menu-btn{
    display: none;
    position: relative;
}


.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("https://drive.google.com/uc?id=1Da7QCQl7U8MJb7Ftor3oM6wI_tReGwhA") no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
}
.home .content{
    text-align: center;
    width:60rem;
}

.home .content h3{
    color:var(--black);
    font-size: 3.5rem;
}

.home .content h3 span{
    color:var(--pinky);
}

.home .content p{
    color: rgb(5, 5, 5);
    font-size: 1.5rem;
    padding:1rem 0;
    line-height: 1.8;
}
.products{
    background: url("https://drive.google.com/uc?id=1edYrmPIXf85PAwhcbYRQiYYuhKtA_9xl") no-repeat;
}

.products .product-slider{
    padding:1rem;
    cursor: pointer;
}

.products .product-slider:first-child{
    margin-bottom: 2rem;
}
.products .product-slider .box{
    background: #fff;
    border-radius: .2rem;
    text-align: center;
    padding:1.5rem .5rem;
    outline-offset: -.5rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: .2s linear;
}

.products .product-slider .box:hover{
    outline-offset: 0rem;
    outline: var(--outline-hover);
    cursor: pointer;
}

.products .product-slider .box img{
    height:33rem;
    width: 33rem;
}

.products .product-slider .box h3{
    font-size: 2.2rem;
    color:var(--realblack);
}

.products .product-slider .box .price{
    font-size: 1.6rem;
    color:var(--redgurl);
    padding:.5rem 0;
}
.products .product-slider .box p{
    font-size: 1.4rem;
    color:var(--realblack);
}

.review .review-slider{
    padding:1rem;
}

.review .review-slider .box{
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding:3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: .2s linear;
}
.review h6 a{
    color: #ff0000;

}
.review h6{
    text-align: center;
    color:var(--pureblack);
    font-size: 1.5rem;
}
.review .review-slider .box:hover{
    outline:var(--outline-hover);
    outline-offset: 0rem;
}

.review .review-slider .box img{
    height:7rem;
    width:7rem;
    border-radius: 50%;
}

.review .review-slider .box p{
    padding:1rem 0;
    line-height: 1.8;
    color:var(--pureblack);
    font-size: 1rem;
}

.review .review-slider .box h3{
    padding-bottom: .5rem;
    color:var(--black);
    font-size: 1.8rem;
}

.review .review-slider .box .stars i{
    color:var(--orange);
    font-size: 1.7rem;
}
.AboutUs .AboutUs-slider{
    padding:1rem;
}

.AboutUs .AboutUs-slider .box{
    background: rgb(199, 201, 202);
    border-radius: .5rem;
    text-align: center;
    padding:3rem 10rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: .2s linear;
}

.AboutUs .AboutUs-slider .box:hover{
    outline:var(--outline-hover);
    outline-offset: 0rem;
}

.AboutUs .AboutUs-slider .box img{
    height:15rem;
    width:15rem;
    border-radius: 30%;
}

.AboutUs .AboutUs-slider .box p{
    text-align:justify;
    padding:1rem 0;
    line-height: 1.8;
    color:var(--realblack);
    font-size: 1.5rem;
}

.AboutUs .AboutUs-slider .box h3{
    padding-bottom: .5rem;
    color:var(--black);
    font-size: 2.2rem;
}
.AboutUs .AboutUs-slider .box h6{
    padding-bottom: .5rem;
    font-size: 2.2rem;
    font-size: 15px;
}

.footer{
    background: rgb(1, 42, 61);
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box img{
    height: 15rem;
    width: 25rem;
    margin-left: 1rem;
}

.footer .box-container .box .links{
    display: block;
    font-size: 1.5rem;
    color:var(--light-color);
    padding:1rem 0;
}

.footer .box-container .box .links i{
    color:var(--favcolor);
    padding-right: .5rem;
}

.footer .box-container .box .links:hover i{
    padding-right: 2rem;
}

.footer .box-container .box h3{
    font-size: 2rem;
    color: #eee;

}
.footer .box-container .box .qrcode{
    height: 12rem;
    width: 12rem;
    display: block;
}

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:2rem;
    }

    section{
        padding:2rem;
    }
}
@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .search-form{
        width:90%;
    }

    .header .navbar{
        position: absolute;
        top:110%; right:-110%;
        width:30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
    }
    .header .navbar.active{
        right:2rem;
        transition: .4s linear;
    }
    .header .navbar a{
        font-size: 2rem;
        margin:2rem 2.5rem;
        display: block;
    }
}
@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .heading{
        font-size: 2.5rem;
    }

    .footer{
        text-align: center;
    }

    .footer .box-container .box .payment-img{
        margin: 2rem auto;
    }
}